@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
.navbar-main {
  body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }

  .container {
    width: 80%;
    margin: 0 auto;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
  }

  header {
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
    font-family: "Lato", sans-serif;
  }

  header::after {
    content: "";
    display: table;
    clear: both;
  }

  .logo {
    float: left;
  }

  nav {
    float: right;
  }

  nav ul {
    margin: 0 ;
    padding: 0;
    list-style: none;
    font-family: "Open Sans", sans-serif;
  }

  nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
  }

  nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }

  nav a:hover {
    color: #000;
    font-weight: 600;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: rgb(73, 7, 7);

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
  }
  .logo{
    background-image: url("bitesbeve.png");
    width: 150px;
    height: 100px;
    margin:10px 10px;
  }
  nav a:hover::before {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
 .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}