@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Dancing+Script:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap");
.footer {
  background-color: rgb(95, 77, 77);
  color: white;
  font-family: "Baloo Bhaina 2", cursive;
  padding: 2%;
  h2 {
    text-align: center;
    margin: auto auto;
    font-family: "Dancing Script", cursive;
  }
  p{
      margin-left: 2%;
  }
  ul {
    list-style: none;
    margin-left: 1%;
  }
}
