@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");

.AutoComplete-main {

  box-sizing: border-box;
  padding: 60px;
  width: 100%;
  font-family: "Manrope", sans-serif;
  background-image: linear-gradient(to right top, #6898e1, #4382e7, #1c69ea, #004de8, #2028e1);
  background-repeat: no-repeat;
  background-size: cover !important;
}
.AutoComplete-main input {
  -webkit-box-shadow: 1px 3px 6px 0px rgba(106, 83, 133, 0.81);
  -moz-box-shadow: 1px 3px 6px 0px rgba(106, 83, 133, 0.81);
  box-shadow: 1px 3px 6px 0px rgba(106, 83, 133, 0.81);
  width: 100%;
    
  text-align: center;
  border: 1px solid grey;
}
.AutoComplete-main ul {
  padding: none;
  text-align: left;
}
.AutoComplete-main li {
  list-style: none;
  margin: none;
  cursor: pointer;
}

.AutoComplete-main ul li:hover {
  border: 1px ridge #a4a4a4;
}