.login {
  flex: 2;

  input:focus {
    outline: none;
  }

  .login-main {
    max-width: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;

    text-align: center;
    margin: 0 auto;
    width: 80%;
    position: relative;
    padding: 20px 0;
  }

  .login-btn {
    width: 80%;
    margin: 0 10px;
    border-radius: 50px;
  }

  .login-form {
    width: 100%;
  }

  .form-box {
    border-radius: 7px;
    box-shadow: 0 0 10px #0000ff57;
  }

  .form-element-container {
    position: relative;
    color: grey;

    .form-element {
      border: 1px solid grey;
      text-decoration: none;
      width: 100%;
      padding: 7px 5px;
      text-indent: 35px;
      font-family: cursive;
    }

    .form-element.email {
      border-radius: 7px 7px 0 0;
    }

    .form-element.pass {
      border-radius: 0 0 7px 7px;
    }

    .form-element:focus {
      border: 1px solid rgb(35, 131, 255);
    }
  }

  .form-element-container.focus {
    color: rgb(35, 131, 255);
  }

  .remember-forgot {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
  }

  .icon {
    position: absolute;
    height: 20px;
    width: 20px;
    margin: 12px 10px;
  }

  .social-login,
  .create-account {
    font-size: 14px;
  }

  .cooking-image img {
    width: 100%;
  }
}

// All mobile potrait
@media (max-width: 567.98px) {
  .login {
    background-image: linear-gradient(to bottom, #f3f1ff, #d1ceed, #bbb5f0);
  }
}

// No mobile potrait. For Mobile landscape and larger devics
@media (min-width: 568px) {
  .login {
    background-image: url(../../assets/images/circle-food-cropped.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    .cooking-image {
      display: none;
    }
  }
}

// Mobile landscape
@media (orientation: landscape) and (max-height: 567.98px) {
  .login {
    background-image: url(../../assets/images/circle-food.jpg);
    background-position: center;

    .welcome-back {
      color: white;
    }
  }
}
