.Carousel {
    // position: relative;
    // top: 50px;
    background-color: rgb(39, 38, 41);
  }
  .Carousel img {
    margin: 10px;
    height: 50vh;
    width: 90%;
    border-radius: 10px;
    border: 2px solid red;
  }
  .active{
    transform: scale(1.1);
  }
  @media screen and (max-width: 600px) {
    .Carousel img {
      height: 70vh;
      width: 89%;
      border-radius: 10px;
      border: 2px solid red;
    }
  }
  @media screen and (max-width: 1024px) {
    .Carousel img {
      height: 60vh;
      width: 90%;
      border-radius: 10px;
      border: 2px solid red;
    }
  }