.slider-main {
  .container1 {
    text-align: center;
    width: 50em;
    background-size: cover;
    background-image: url("../../assets/images/home-panel-11-1-1.jpg");
    height: 25em;
    margin: 0 auto;
    padding: 0;
  }
  body,
  html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .neo {
    border: none;
    background-color: none;
    color: #ffdd1b;
    font-size: 3em;
    padding: 0;
    z-index: 1;
    margin: auto auto;
  }
  .neo:hover {
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
  }
  @keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
        0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
        0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
    }
  }
  p {
    margin: none;
  }
}
